<h1>All Trips</h1>


<ul>

  <% @trips.each do |trip| %>
  <li> <a href="/trips/<%=trip.id%>"> <%=trip.city%>, <%=trip.country%>, <%=trip.travel_dates%> </a>
    </li>
   



  <%end%>


</ul>
