<h1>New Trip</h1>


<%flash[:message] && flash[:message].each do |m| %>
  <li><%=m%></li>
<%end%>

<form action="/trips" method="post">
  <label>City: </label>
  <input type="text" name="trip[city]" >
  <label>Country: </label>
  <input type="text" name="trip[country]" >
  <label>Dates: </label>
  <input type="date" name="trip[travel_dates]" >
  <label>Traveled?: </label>
  <input type="text" name="trip[traveled?]"  >
  <input type="submit">
</form>