<h1>Trip Details</h1>

<p><%= @trips.city %> - <%= @trips.country %></p>
<p><%= @trips.travel_dates %></p>

<form action="/trips/<%=@trips.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>



