<div class="container p-3 my-3 bg-primary text-white">
      <h1 style="text-align:center">Welcome to Trip Tracker!</h1>
  <img src="https://www.issaquahhighlands.com/wp-content/uploads/2015/06/Travel-Night-globe.png" class="center" alt="Globe">

</div>



